page-qa-detial {
	ion-card-header {
		transform: scaleY(1.3);
    	-webkit-transform: scaleY(1.3);
	}
	p {
		margin: 2em 0 !important;
		line-height: 2;
		background-color: #cfc;
		&:first-child {
		  font-weight: 900;
		}
		&::first-letter {
		  font-weight: 900;
		  font-size: 1.5em;
		}
	}
	.center {
		text-align: center;
	}
}
