<!--
  Generated template for the CalcStyle page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>學習風格帽</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div class="ui container">
    <div class="slide" [hidden]="step">
      <div class="ui attached segment">
        <h1 class="ui heaer">

        <ion-icon name="key" color = "primary"></ion-icon>      
        何謂學習風格？</h1>

        <p>現代的教育研究者發現，每個人擅長的學習方式都有不同。即使在同一個課室中，每個人去掌握和理解的方法也不一樣。這就是每個人的學習風格。
        <i class="purple fire icon"></i></p>

        <p>學習風格有千百種以上，要細分有很多角度。本測試採取的是「
        <i class="purple unhide icon"></i>視<i class="purple assistive listening systems icon"></i>聽<i class="purple book icon"></i>讀<i class="purple sign language icon"></i>作」(VARK)
        架構，特色是只要回答16個問題，就能讓您很快找出適合自己的有效學習方式
        </p>

        <p>原文的問題出處與更多資訊，請至<a href="http://www.vark-learn.com/english/index.asp" target="_blank">VARK介紹網站</a></p>
      </div>
      <button ion-button  tabindex="0" (click)="step = 1">開始測驗!</button>
    </div>
      <div *ngFor="let q of qs" [hidden]="step != 1">
        <div class="ui card">
          <ion-title>{{q.t}}(可複選)</ion-title>
          <ion-list>
            <ion-item *ngFor="let c of q.cs; let idx = index;">
              <ion-label>{{c}}</ion-label>
              <ion-toggle [(ngModel)]="q.checked[idx]"></ion-toggle>
            </ion-item>
          </ion-list>
        </div>
      </div>
      <button ion-button tabindex="0" (click)="step = 2" [hidden]="!step">看結果!</button>
    </div>
    <div [hidden]="step < 2">
      <p> 測驗結果：你是一名「{{getFinal()[0]}}」優勢的學習者!!</p>
      <!--| {{getNum()}} -->

      <p class="advice"> {{getFinal()[1]}} </p>

    </div>
</ion-content>
