page-page1 {

  #welcome {
		text-align: center;
  }

  h3 {
  	text-shadow: 0 1px 0 #03a;
  	font-weight: 900;
  	color: #3c3;
	  // font-family: ???
  }

  #main {
    text-align: center;
    img {
      max-height: 400px;
      max-width: 400px;
      margin: 0 auto;
    }
  }

	p {
	  font-size: 2vmax;
		line-height: 1.62;
	  // font-family: ???
	}
}
