<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="focusC">分類索引</ion-title>
    <ion-title *ngIf="!focusC">自學方法</ion-title>
  </ion-navbar>
</ion-header>


<ion-content id="focus" *ngIf="focusC">
  <div padding>
    <ion-segment [(ngModel)]="focusC" color="primary">
      <ion-segment-button *ngFor="let c of catagories" (tap)="focusC = c" [value]="c" [ngClass] = "{'segment-activated': c.t == focusC.t}">
        {{c.t}}
      </ion-segment-button>
    </ion-segment>
  </div>
  <ion-item-group>
    <div [ngSwitch]="focusC.t">
      <div *ngFor="let c of catagories">
        <div *ngSwitchCase="c.t">
          <ion-item-divider color="light">{{c.description}}...</ion-item-divider>
          <button ion-item
              *ngFor="let faq of (faqs | inCatagory:c.t); let $k = index;"
              (tap)="itemTapped($event, faq)" >
              <ion-icon item-left
              [name]="c.ion.icon" 
              color = "primary"></ion-icon>
              <div class="item-note" item-right>
                {{faq.q}}
              </div>
          </button>
        </div>
      </div>
    </div>

<!--    <ion-item-divider color="light">所有分類</ion-item-divider>
    <button ion-item 
        *ngFor="let c of catagories; let $k = index;"
        [color] = "c.t == focusC.t && 'primary' || ''"
        (tap)="cataTapped($event, c)" >
          <ion-icon item-left
          [name]="c.ion.icon" 
          [color] = "c.t == focusC.t && 'light' || 'secondary'"
          ></ion-icon>
          <div class="item-note" item-right>
            {{c.t}}
          </div>
    </button> -->
  </ion-item-group>
</ion-content>

<ion-content id = "long" [hidden]="focusC">
  <ion-item-group *ngFor="let c of catagories; let $j = index;">
    <ion-item-divider color="dark">{{c.t}}</ion-item-divider>
    <button ion-item
        *ngFor="let faq of (faqs | inCatagory:c.t); let $k = index;"
        (tap)="itemTapped($event, faq)" >
        <ion-icon item-left
        [name]="c.ion.icon" 
        [color] = "colors[$k % 2]"></ion-icon>
        <div class="item-note" item-right>
          {{faq.q}}
        </div>
    </button>
  </ion-item-group>
</ion-content>
