<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>自學方法</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-item-group id="focus" *ngIf="focusC">
    <ion-item-divider color="light">{{focusC.t}}</ion-item-divider>
    <button ion-item
        *ngFor="let faq of (faqs | inCatagory:focusC.t); let $k = index;"
        (tap)="itemTapped($event, faq)" >
        <ion-icon item-left
        [name]="focusC.ion.icon" 
        [color] = "colors[$k % 2]"></ion-icon>
        <div class="item-note" item-right>
          {{faq.q}}
        </div>
    </button>
    <ion-item-divider color="light">其他分類</ion-item-divider>
    <button ion-item
        *ngFor="let c of catagories; let $k = index;"
        (tap)="cataTapped($event, c)" >
        <ion-icon item-left
        [name]="c.ion.icon" 
        [color] = "colors[$k % 2]"></ion-icon>
        <div class="item-note" item-right>
          {{c.t}}
        </div>
    </button>
  </ion-item-group>


  <ion-item-group [hidden]="focusC" *ngFor="let c of catagories; let $j = index;">
    <ion-item-divider color="light">{{c.t}}</ion-item-divider>
    <button ion-item
        *ngFor="let faq of (faqs | inCatagory:c.t); let $k = index;"
        (tap)="itemTapped($event, faq)" >
        <ion-icon item-left
        [name]="c.ion.icon" 
        [color] = "colors[$k % 2]"></ion-icon>
        <div class="item-note" item-right>
          {{faq.q}}
        </div>
    </button>
  </ion-item-group>





</ion-content>
